*,
*::after,
*::before {
  box-sizing: border-box;
}

html{
    font-size: 10px;
}


body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}

header {
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  min-height: 60rem;
  background: url(../img/header-background.png) no-repeat center;
  background-size: cover;
  position: relative;
}

.logo-nav {
  position: relative;
  width: 95%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  /* border: red solid 1px */
}

.logo {
  display: flex;
  width: 12%;
  letter-spacing: 0.4rem;
  justify-content: space-between;
  align-items: center;
}

.logo span {
  font-size: 3rem;
  font-weight: 700;
}

.nav {
  font-size: 2rem;
  font-weight: 500;
  width: 45%
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.link-item {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.link-item:hover {
  border-bottom: 0.3rem white solid;
}

.get-started-button {
  border: 0.2rem white solid;
  border-radius: 10rem;
  padding: 1.5rem 2rem;
  margin-left: 6rem;
}

.get-started-button:hover {
  color: white;
  background: #6e45e2;
  border: 0.2rem solid #6e45e2;
}

.header-message {
  display: flex;
  position: relative;
  z-index: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header-message span {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.header-message span::before {
  display: inline-block;
  content: "";
  width: 3rem;
  height: 0.2rem;
  background: white;
  margin-right: 0.7rem;
  vertical-align: middle;
}

.header-message span::after {
  display: inline-block;
  content: '';
  width: 3rem;
  height: 0.2rem;
  background: white;
  margin-left: 0.7rem;
  vertical-align: middle;
}

.header-message h1 {
  margin: 1%;
  font-size: 12rem;
  font-weight: 500;
}

.header-message p {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 400;
  width: 70%;
  text-align: center;
}

.header-arrow {
  margin-bottom: 2rem;
  height: 5vh;
  width: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  background: white;
  font-size: 0;
  box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
}

.header-arrow:hover {
  background: #6e45e2;
  box-shadow: 0px 0px 18.69px 2.31px rgba(124, 76, 201, 0.5);
}

.select-a-plan {
  height: 100vh;
  background: #f9fafc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.article-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.article-header span {
  color: #9fa4af;
  font-size: 3.3rem;
}

.article-header span::before {
  display: inline-block;
  content: "";
  width: 2.5rem;
  height: 0.2rem;
  background: #6e45e2;
  margin-right: 0.7rem;
  vertical-align: middle;
}

.article-header span::after {
  display: inline-block;
  content: '';
  width: 2.5rem;
  height: 0.2rem;
  background: #6e45e2;
  margin-left: 0.7rem;
  vertical-align: middle;
}

.article-header h1 {
  margin: 3%;
  color: #4f4f6f;
  font-size: 6rem;
  font-weight: 500;
}

.article-header p {
  font-size: 2rem;
  margin: 0;
  color: #9fa4af;
}

.plans {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 6rem; */
  /* height: 100vh; */
  width: 80vw;
  color: #9fa4af;
  /* height: 70% */
}

.plans span {
  /* margin: 2rem 0 1rem 0; */
  font-size: 2.5rem;
  font-weight: 700;
}


.plans img {
  margin-top: 2rem;
}

.plans div {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5rem;
  height: 65vh;
  width: 20vw;
  text-align: center;
  transition: .2s;
}

.plans h4 {
  color: #4f4f6f;
  font-size: 8rem;
  font-weight: 500;
  margin: 0 0 1rem 0;
}

.plans sup {
  font-size: 3rem;
}

.plans sub {
  font-size: 3rem;
  vertical-align: baseline;
}

.plans div:hover {
  box-shadow: 0px 0px 81.88px 10.12px rgba(204, 204, 223, 0.71);
}

.plans p {
  width: 70%;
  font-size: 2rem;
  font-weight: 400;
  color: #4f4f6f;
}

.plans button {
  background: white;
  font-size: 1.8rem;
  color: #4f4f6f;
  font-weight: 700;
  padding: 1rem 2.2rem;
  border-radius: 5rem;
  margin: 1.5rem 3rem;
  cursor: pointer;
  border: rgb(215, 219, 232) solid 1px;
  box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
}

.plans button:hover {
  color: white;
  background: #6e45e2;
}

.take-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/map.png) no-repeat center;
  background-size: cover;
  color: white;
  text-align: center;
  height: 40vh;
}

.take-action span {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

.take-action h4 {
  margin: 0 0 1rem 0;
  font-size: 8rem;
  font-weight: 500;
}

.take-action-buttons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  width: 37rem;
}

.take-action-buttons button {
  background: white;
  padding: 1rem;
  border-radius: 10rem;
  cursor: pointer;
  width: 18rem;
  border: none;
  color: #4f4f6f;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.take-action-buttons button:hover {
  background: #6e45e2;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  margin-top: 1rem;
}

.footer-logo-nav {
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  width: 40%;
}

.footer-nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-link-item {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #6a6a77;
}

.footer-link-item:hover {
  color: #6761CE;
}

.footer-get-started-button {
  padding: 1rem 2rem;
  border-radius: 10rem;
  text-transform: uppercase;
  border: #AD9CE0 solid 1px;
}

.footer-get-started-button:hover {
  background: #6e45e2;
  color: white;
}

.footer-logo {
  width: 11%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo span {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.3rem;
}

.footer-grey-line {
  width: 95vw;
  height: 1.5px;
  background: #f2f2f3;
}

.footer-additing-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
}

.footer-additing-info p {
  font-weight: 400;
  font-size: 1.4rem;
  color: #6a6a77;
}

.social-links a {
  text-decoration: none;
  color: #6a6a77;
  font-size: 2rem;
  letter-spacing: 1rem;
}

.social-links a:hover{
   color: #6e45e2;
}
